{% extends 'skeleton/base.html' %}
{% load static %}
{% load core_filters task_filters %}
{% load render_table from django_tables2 %}
{% load tz %}
{% load djmoney %}


{% block navbar%}  
{%endblock%}
{% block sidebar%} {%endblock%}
{% block bar_buttons%}
    <a class="btn btn-info pull-right m-l-20 waves-effect waves-light" href="/"> ENTRAR </a>    
{%endblock%}
{% block right-sidebar-chat %}
    {% include 'chat/chat-right-sidebar.html' %}
{% endblock %}

{% block extra_stylesheets %}
    <!-- DataTables -->
    <link href="{% static 'skeleton/plugins/bower_components/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="//cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <style>
        table.dataTable.row-border tbody tr:first-child th, table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th, table.dataTable.display tbody tr:first-child td {
            font-size: small !important;
            cursor: pointer;
        }
        tr {
            cursor: pointer;
        }
        #taskTable {
            overflow: auto;
        }
    </style>
{% endblock %}

{% block content %}     
    <link href="{% static 'skeleton/css/step-bar.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bootstrap-rating/bootstrap-rating.css' %}" rel="stylesheet">
    <form id="task_detail" action="" method="post">{% csrf_token %}
        {% include 'task/task_detail/tab.html' %}
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <!-- Arquivos ECM -->
            {% include 'task/task_detail/arq_ecm_external.html' %}            
            {% include 'task/task_detail/historico.html' %}
        </div>
        <!-- CONFIRMAR AÇÃO -->
        <div id="confirmAction" class="modal fade "
            tabindex="-1" role="alert" aria-labelledby="modalTitle"
            aria-hidden="true">
            <div class="modal-dialog" style="min-width: 90%">
                <div class="modal-content">
                    <div id="modalHeader" class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="modalTitle" class="modal-title">
                            <i id="icon" class="mdi-24px"></i>
                             Deseja <span id="actionText">aceitar</span> o prazo? </h4>
                    </div>
                    <div class="modal-body p-30">
                        <div class="form-group" style="margin: auto">
                            <label> {{ form.notes.label }}</label>
                            {{ form.notes }}
                        </div>
                        <div class="rating-container">
                            <h4 class="panel-title text-center text-danger">
                                <i class="fa fa-star"></i>
                                <b> Avalie o atendimento do correspondente</b>
                            </h4>
                            <div class="form-group text-center" style="margin: auto">
                                {{ form.feedback_rating }}
                            </div>
                            <div class="form-group" style="margin: auto">
                                <label> {{ form.feedback_comment.label }}</label>
                                <div>{{ form.feedback_comment }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="width: 100px!important;" onClick="taskDetail.resetForm(this)"
                                class="btn btn-default"
                                data-dismiss="modal">
                            <i class="mdi mdi-close"></i> Cancelar
                        </button>                        
                        <button id="actionButton"                             type="submit"
                            onclick="taskDetail.submitTaskDetail(this, '{{form.instance.office.use_service}}')"
                            survey={% if form.instance|has_survey_correspondent %}true{% else %}''{% endif %}
                            style="width: 100px!important;"
                            class="btn btn-raised btn-success">Sim
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>    
{%endblock%}

{% block extra_scripts %}
    <!-- UPLOADS SCRIPTS  -->
    <script>
        $(document).ready(function(){
            $('#page-wrapper').css('margin', '0')
        })
    </script>
    {% include 'task/includes/upload.html' %}
    <script src="{% static 'libs/survey-0.12.20/survey.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/bootstrap-rating/bootstrap-rating.min.js' %}?rev={{request.REVIEW}}"></script>
    <!--Style Switcher -->
    <script src="{% static 'skeleton/js/cbpFWTabs.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'skeleton/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'skeleton/plugins/bower_components/jquery.tmpl/jquery.tmpl.js' %}?rev={{request.REVIEW}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script src="{% static 'libs/jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.iframe-transport.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.fileupload.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/basic-upload.js' %}?rev={{request.REVIEW}}"></script>
    <script src='{% static "task/task-detail.js" %}?rev={{request.REVIEW}}'></script>
    <script src='{% static "task/js/task-service-price-table.js" %}?rev={{request.REVIEW}}'></script>>
    <script type="text/javascript">
    var taskDetail;

    $(document).ready(function(){
        taskDetail = new TaskDetail('{{object.pk}}', '{{object.status.name}}', '{{custom_settings.i_work_alone}}', '{{pending_surveys.status|lower}}', {{ pending_surveys.pending_list|safe }}, `{{survey_company_representative|safe}}`, '{{csrf_token}}', null, null, '{{object.type_task.id}}', '{{object.type_task.name}}', '{{object.office.use_service}}');

        get_internal_ecms({{form.instance.pk}});
    })
    </script>

    <!-- datatables -->
    <script src="{% static 'skeleton/plugins/bower_components/datatables/jquery.dataTables.min.js' %}?rev={{request.REVIEW}}"></script>

    <script type="text/javascript">
        (function() {
            [].slice.call(document.querySelectorAll('.sttabs')).forEach(function(el) {
                new CBPFWTabs(el);
            });
        })();
    </script>
    {% include 'questionnaire/generic_survey.html' %}

    <!-- DIV para o Ajax localizar o local (pelo ID) onde será incluído os novos scripts de deleção
         a medida que for adicionando novos arquivos -->
    <div id="scripts">
    </div>

    <script>
        var expanded = false;

        function toggleArrowHist() {

            if (expanded) {
                expanded = false;
                document.getElementById("up_hist").style.display = "none";
                document.getElementById("down_hist").style.display = "block";
            }
            else {
                expanded = true;
                document.getElementById("up_hist").style.display = "block";
                document.getElementById("down_hist").style.display = "none";
            }
        }
    </script>

    <script>
        var expanded = false;

        function toggleArrow() {

            if (expanded) {
                expanded = false;
                document.getElementById("up").style.display = "none";
                document.getElementById("down").style.display = "block";
            }
            else {
                expanded = true;
                document.getElementById("up").style.display = "block";
                document.getElementById("down").style.display = "none";
            }
        }

    </script>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                $('#locating').modal('show');
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                console.log("Geolocalização não é suportada pelo browser.");
            }
        }
        function showPosition(position) {
            var data = {};
            var checkpointtype = $('#GEOLOCATION').data("checkpointtype");
            data['latitude'] = position.coords.latitude;
            data['longitude'] = position.coords.longitude;
            data['task_id'] = {{ form.instance.pk }};
            data['checkpointtype'] = checkpointtype;
            var url = $('#GEOLOCATION').data("url");
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (result) {
                    console.log(result);
                    if (result.ok){
                        location.reload();
                        $('#locating').modal('hide');
                    }else{
                        $('#locating').modal('hide');
                        showToast('error', 'Atenção', "Localização não registrada", 0, false);
                    }
                },
                error: function (request, status, error) {
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                dataType: 'json'
            })
        }
        function showError(error) {
            $('#locating').modal('hide');
            var msg = ''
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    msg = "O usuário negou o acesso à Geolocalização.";
                    break;
                case error.POSITION_UNAVAILABLE:
                    msg = "Informação de localização não disponível.";
                    break;
                case error.TIMEOUT:
                    msg = "Tempo limite atingido para o pedido de localização.";
                    break;
                case error.UNKNOWN_ERROR:
                    msg = "Ocorreu um erro desconhecido.";
                    break;
            }
            showToast('error', 'Atenção', msg, 0, false);
        }
        </script>
    <script type="text/javascript">
        $(window).load(function(){
            get_external_ecms('{{task.task_hash.hex}}');        
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            const regex = /[A-Z]+/;
            const url = location.pathname;
            const status = regex.exec(url);
            if (status !== null) {
                if (status[0] === 'FINISHED') {
                    $('#collapseECM').collapse('show');
                    scrollTo($("#collapseHistory").offset().left, $("#collapseECM").offset().top)
                } else {
                    $(`#${status[0]}`).click();                    
                }
            }
        })
    </script>
{% endblock %}
