{% extends "skeleton/forms/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load querystring from ezl_tables %}
{% load bootstrap3 %}

{% block content %}    
    {% include 'task/includes/task-form-filters.html'%}

    {% block extra_content %}
        {% include 'task/includes/task-table-list.html' with title_table='Listagem de providências'%}    
    {% endblock extra_content %}
{% endblock content %}
{% block extra_scripts %} 
    {% include 'task/includes/task-filter-extras.html'%}
{%endblock%}


