{% extends "skeleton/forms/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load querystring from ezl_tables %}
{% load bootstrap3 %}
{% load task_filters %}

{% block content %}    	
    {% include 'task/includes/task-form-filters.html' with person_company_representative=True %}

    {% block extra_content %}        
        {% include 'task/includes/task-table-list-company-representative.html' with title_table='Providências a responder'%}   
    {% endblock extra_content %}
{% endblock content %}
{% block extra_scripts %} 
    {% include 'task/includes/task-filter-extras.html'%}

    <script src="{% static 'libs/survey-0.12.20/survey.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/bootstrap-rating/bootstrap-rating.min.js' %}?rev={{request.REVIEW}}"></script>
    <!--Style Switcher -->
    <script src="{% static 'skeleton/js/cbpFWTabs.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'skeleton/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'skeleton/plugins/bower_components/jquery.tmpl/jquery.tmpl.js' %}?rev={{request.REVIEW}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script src="{% static 'libs/jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.iframe-transport.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.fileupload.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/basic-upload.js' %}?rev={{request.REVIEW}}"></script>    
    <script src="{% static 'core/js/geolocation.js' %}?rev={{request.REVIEW}}"></script>
    {% include 'questionnaire/company_representative_questionnarie.html'%}
    <script type="text/javascript">
        var geolocation = new Geolocation()
        var taskId;
        var selectedSurvey;
    	var surveys = {};
        var checkpoints = {};
        var surveyData;
        var buttonEl = `
            <button type="button" id="btn-open-questions" class="text-white btn btn-ezl-company_representative align-middle">
                <span class="btn-label align-middle"><i class="mdi mdi-checkbox-multiple-marked-outline"></i></span> Responder
            </button>  
        `;
        {% for survey in surveys_company_representative %}
        	surveyData = `{{survey.survey.data|safe}}`;
        	surveys['{{survey.task_id}}'] = surveyData;        	
        {% endfor %}
        $(document).ready(function(){
        	$('tbody tr').each(function(){
                if ($(this).attr('tr-data-id') && surveys[$(this).attr('tr-data-id')]) {
        		  $(this).append(`<td>${buttonEl}</td>`)
                }
        	}).promise().done(function() { 
    			$('.btn-ezl-company_representative').each(function(el){
                    $(this).on('click', function(event) {
                        event.stopPropagation();
                        taskId = $(this).parent().parent().attr('tr-data-id');
                        selectedSurvey = surveys[taskId];
                        if (selectedSurvey.length < 1) {
                            swal({
                                type: 'error', 
                                title: 'Questionário',
                                text: "Não existe formulário cadastrado para este tipo de serviço."
                            })
                        } else {
                            $("#survey-company-representative").modal('show')
                        }                 
                    })
                })
            }); 
            
            $('.GEOLOCATION').each(function(el){
                $(this).on('click', function(event) {
                    event.stopPropagation();
                    taskId = $(this).parent().parent().attr('tr-data-id');
                    let elButtonGeolocation = $(`#GEOLOCATION-${taskId}`);
                    var data = {};
                    var checkpointtype = elButtonGeolocation.data("checkpointtype");
                    data['latitude'] = geolocation.latitude;
                    data['longitude'] = geolocation.longitude;
                    data['task_id'] = taskId;
                    data['checkpointtype'] = checkpointtype;
                    var url = elButtonGeolocation.data("url");
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: data,
                        success: function (result) {
                            console.log(result);
                            if (result.ok){
                                location.reload();
                                $('#locating').modal('hide');
                            }else{
                                $('#locating').modal('hide');
                                showToast('error', 'Atenção', "Localização não registrada", 0, false);
                            }
                        },
                        error: function (request, status, error) {
                        },
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        dataType: 'json'
                    })                                    
                })
            });                                
        })

    </script>
{%endblock%}


