{% extends 'task/task_form.html' %}
{% load core_filters form_tags static bootstrap3 %}

{% block page_title %}
    {% with "ORDEM DE SERVIÇO" as form_name_plural %}
        {% with "" as page_title %}
            {{block.super}}
        {% endwith %}
    {% endwith %}
{% endblock %}

{% block bar_buttons %}
{% endblock %}

{% block content %}                       

    {% include 'core/widgets/messages.html' %}
    <form id="task_form" action="" method="post" enctype="multipart/form-data">
        <fieldset>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <div class="col-xs-12 form-row">
            <div class="panel panel-default">
                <div class="panel-heading">Criar ordem de serviço</div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="row p-b-10">
                            <div class="col-sm-12 p-r-0">
                                <div class="col-sm-2 p-0">
                                    <div class="input-group">
                                        {% bootstrap_label form.person_customer.label label_for='id_person_customer' label_class='control-label ezl-required' %}
                                    </div>
                                </div>
                                {% bootstrap_field form.person_customer show_label=False layout='horizontal' addon_after='<button id="btn_add_person_customer" type="button" class="btn btn-select2 btn-raised btn-primary" title="Adicionar Cliente/Parte"><i class="mdi mdi-plus"></i></button>' addon_after_class='input-group-btn p-l-10' form_group_class="col-sm-10 p-0" field_class='col-sm-10 p-0' %}
                            </div>
                        </div>
                        <div class="row p-b-10">
                            <div class="col-sm-6 p-r-0">
                                <div class="col-sm-12 p-0">
                                    <div class="col-sm-4 p-0">
                                        <div class="input-group">
                                            {% bootstrap_label form.type_task.label label_for='id_type_task' label_class='control-label ezl-required' %}
                                        </div>
                                    </div>
                                    <div class="p-0 col-sm-8">
                                        <select name="type_task" class="form-control" title="" required="" id="id_type_task">
                                            <option value="" selected="">Selecione...</option>
                                            {% for type_task in form.fields.type_task.queryset %}
                                                <option is-hearing="{{type_task.type_task_main.all.0.is_hearing}}" value="{{type_task.pk}}">{{type_task.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 p-r-0">
                                <div class="col-sm-4 p-0">
                                    <div class="input-group">
                                    {% bootstrap_label form.task_law_suit_number.label label_for='id_task_law_suit_number' label_class='control-label' %}
                                    </div>
                                </div>
                                {% bootstrap_field form.task_law_suit_number show_label=False addon_after='<button id="btn_add_lawsuit" type="button" class="btn btn-select2 btn-raised btn-primary" title="Adicionar Processo"><i class="mdi mdi-plus"></i></button>' addon_after_class='input-group-btn p-l-10' form_group_class="col-sm-8 p-0" layout='horizontal' field_class="p-l-0 p-r-5 col-sm-12" %}
                            </div>
                        </div>
                        <div class="row p-b-10">
                            <div class="col-sm-12 p-r-0">
                                {% bootstrap_field form.description layout='horizontal' label_class='col-sm-2 control-label p-0' field_class='col-sm-10 p-l-0' %}
                            </div>
                        </div>
                        <div class="row p-b-10">
                            <div class="col-sm-12 p-r-0">
                                <div class="col-sm-2 p-0">
                                    <div class="input-group">
                                    {% bootstrap_label form.final_deadline_date.label label_for='id_final_deadline_date' label_class='control-label ezl-required' %}
                                    </div>
                                </div>
                                {% bootstrap_field form.final_deadline_date layout='horizontal' show_label=False addon_after='<span class="ezl-tooltip" title="Pedidos feitos com prazo inferior à 48 horas estão sujeitos a análise da viabilidade de sua execução."><i class="mdi mdi-help-circle-outline"></i></span>' addon_after_class='input-group-addon addon-txt' field_class='col-sm-6 p-l-0' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-row">
            <div class="panel panel-default">
                <div class="panel-heading ezl-required"><a href="#" data-perform="panel-collapse">Informar a comarca ou a cidade</a></div>
                <div class="panel-wrapper collapse in" aria-expanded="true" style="">
                    <div class="panel-body">
                        <div class="row p-b-10">
                            <div class="col-sm-6 p-r-0">
                                <div class="col-sm-4 p-0">
                                    <div class="input-group">
                                    {% bootstrap_label form.court_district.label label_for='id_court_district' label_class='control-label' %}
                                    </div>
                                </div>
                                {% bootstrap_field form.court_district show_label=False form_group_class="col-sm-8 p-0" layout='horizontal' field_class="p-0 col-sm-12" %}
                            </div>
                            <div class="col-sm-6 p-r-0">
                                <div class="col-sm-4 p-0">
                                    <div class="input-group">
                                    {% bootstrap_label form.city.label label_for='id_court_district_complement' label_class='control-label' %}
                                    </div>
                                </div>
                                {% bootstrap_field form.city show_label=False form_group_class="col-sm-8 p-0" required_css_class='' layout='horizontal' field_class="p-l-0 p-r-5 col-sm-12" %}
                            </div>
                        </div>
                        <div class="row p-b-10">
                            <div class="col-sm-6 p-r-0">
                                <div class="col-sm-4 p-0">
                                    <div class="input-group">
                                    {% bootstrap_label form.court_district_complement.label label_for='id_court_district_complement' label_class='control-label' %}
                                    </div>
                                </div>
                                {% bootstrap_field form.court_district_complement show_label=False form_group_class="col-sm-8 p-0" layout='horizontal' field_class='col-sm-12 p-0' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-row">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="#" data-perform="panel-collapse">Anexar Arquivos</a></div>
                <div class="panel-wrapper collapse in" aria-expanded="true" style="">
                    <div class="panel-body">
                        {% include 'ecm/attachments_create.html' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-row">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="#" data-perform="panel-collapse">Mais informações</a></div>
                <div class="panel-wrapper collapse" aria-expanded="false" style="">
                    <div class="panel-body">
                        <div class="row p-b-10">
                            <div class="col-sm-12 p-r-0 btn-raised">
                                <div class="col-sm-2 p-0">
                                    <div class="input-group">
                                    {% bootstrap_label form.folder_number.label label_for='id_folder_number' label_class='control-label' %}
                                    </div>
                                </div>
                                {% bootstrap_field form.folder_number show_label=False addon_after='<button id="btn_add_folder" type="button" class="btn btn-select2 btn-raised btn-primary" title="Adicionar Passta"><i class="mdi mdi-plus"></i></button>' addon_after_class='input-group-btn p-l-10'  layout='horizontal' field_class='col-sm-9 p-l-0' %}
                            </div>
                        </div>
                        <div class="row p-b-10">
                            <div class="col-sm-12 p-r-0">
                                <div class="col-sm-2 p-0">
                                    <div class="input-group">
                                    {% bootstrap_label form.movement.label label_for='id_movement' label_class='control-label' %}
                                    </div>
                                </div>
                                {% bootstrap_field form.movement show_label=False layout='horizontal' field_class='col-sm-9 p-l-0' %}
                            </div>
                        </div>
                        <div class="row p-b-10">
                            <div class="col-sm-12 p-r-0">
                                <div class="col-sm-2 p-0">
                                    <div class="input-group">
                                    {% bootstrap_label form.person_company_representative.label label_for='id_person_company_representative' label_class='control-label' %}
                                    </div>
                                </div>
                                {% bootstrap_field form.person_company_representative show_label=False layout='horizontal' field_class='col-sm-9 p-l-0' %}
                            </div>
                        </div>
                        <div class="row p-b-10">
                            <div class="col-sm-12 p-r-0">
                                <div class="col-sm-2 p-0">
                                    <div class="input-group">
                                    {% bootstrap_label form.person_asked_by.label label_for='id_person_asked_by' label_class='ezl-required control-label' %}
                                    </div>
                                </div>
                                {% bootstrap_field form.person_asked_by show_label=False layout='horizontal' field_class='col-sm-9 p-l-0' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 form-row">
            <div class="panel panel-default">
                <div class="panel-footer">
                    <div class="text-center">
                        {% block form_buttons %}
                            {{ block.super }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        </fieldset>
    </form>
{% endblock content %}

{% block extra_scripts %}
    {{ block.super }}
    {{ form.media }}
    <script src="{% static 'task/task-bulk-create.js' %}?rev={{request.REVIEW}}"></script>
    <script type="text/javascript">
        var task;
        var defaultCustomer = {};
        $(document).ready(function(){
            task = new TaskBulkCreate();
            task.minHourOS = parseFloat('{{ min_hour_os }}'.replace(',', '.'));
            defaultCustomer = {};
            {% if default_customer %} defaultCustomer = {id: {{ default_customer.id }}, text: "{{ default_customer.text }}" }; {% endif %}
            task.personCustomer = defaultCustomer;
            task.defaultPersonAskedBy = {{ request.user.person.id }};
            $("#btn_add_person_customer").on('click', function () {
                task.newPersonCustomer('{{ csrf_token }}');
            });
            let fields_lawsuit = [];
            fields_lawsuit.push('{% bootstrap_field_oneline lawsuit_form.type_lawsuit form_group_class='form-group col-md-6' label_class='control-label ezl-required pull-left'  %}');
            fields_lawsuit.push('{% bootstrap_field_oneline lawsuit_form.law_suit_number form_group_class='form-group col-md-6' label_class='control-label ezl-required pull-left' %}');
            fields_lawsuit.push('{% bootstrap_field_oneline lawsuit_form.organ form_group_class='form-group col-md-6' label_class='control-label pull-left' %}');
            fields_lawsuit.push('{% bootstrap_field_oneline lawsuit_form.instance form_group_class='form-group col-md-6' label_class='control-label pull-left' %}');
            fields_lawsuit.push('{% bootstrap_field_oneline lawsuit_form.court_division form_group_class='form-group col-md-6' label_class='control-label pull-left' %}');
            fields_lawsuit.push('{% bootstrap_field_oneline lawsuit_form.person_lawyer form_group_class='form-group col-md-6' label_class='control-label pull-left' %}');
            fields_lawsuit.push('{% bootstrap_field_oneline lawsuit_form.opposing_party form_group_class='form-group col-md-6' label_class='control-label pull-left' %}');
            fields_lawsuit.push('{% bootstrap_field_oneline lawsuit_form.notes form_group_class='form-group col-md-6' label_class='control-label pull-left' %}');
            $("#btn_add_lawsuit").on('click', function () {
                task.newLawSuit('{{ csrf_token }}', fields_lawsuit);
            });
            var fields_folder = ['{% bootstrap_field_oneline form.person_customer_swal label_class='control-label ezl-required pull-left' %}']
            $("#btn_add_folder").on('click', function () {
                task.newFolder('{{ csrf_token }}', fields_folder);
            });
        })
    </script>
{% endblock %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="{% static "fileuploader.css" %}">
    <link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
    <style>
    .input-group {
        width: 100% !important;
        line-height: 38px !important;
    }
    .input-group label {
        line-height: normal;
    }
    button.btn-select2 {
        width: 38px !important;
        height: 38px !important;
        padding: 6px 10px !important;
    }
    .addon-txt {
        background-color: #ffffff !important;
        border: none !important;
    }
    .btn-primary {
        border-radius: 3px !important;
    }
    .swal2-popup #swal2-content {
        font-size: 1.5em !important;
    }
    .swal2-popup #swal2-content a {
        font-weight: bolder;
        text-decoration: underline;
    }
    .error {
        border-color: red !important;
    }
    span.select2-selection {
        text-align: left;
    }
    span.select2-selection__placeholder {
        font-size: 14px !important;
    }
    </style>
{% endblock %}