{% extends 'skeleton/base.html' %}
{% load static %}
{% load core_filters task_filters %}
{% load render_table from django_tables2 %}
{% load tz %}
{% load djmoney %}

{% block extra_stylesheets %}
    <!-- DataTables -->
    <link href="{% static 'skeleton/plugins/bower_components/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="//cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <style>
        table.dataTable.row-border tbody tr:first-child th, table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th, table.dataTable.display tbody tr:first-child td {
            font-size: small !important;
            cursor: pointer;
        }
        tr {
            cursor: pointer;
        }
        #taskTable {
            overflow: auto;
        }
    </style>
{% endblock %}

{% block right-sidebar-chat %}
    {% include 'chat/chat-right-sidebar.html' %}
{% endblock %}
{% block content %}    
    <link href="{% static 'skeleton/css/step-bar.css' %}" rel="stylesheet">
    <link href="{% static 'libs/bootstrap-rating/bootstrap-rating.css' %}" rel="stylesheet">

    {% include 'task/task_to_assign.html' with task=task %}
    {% include 'task/includes/task-service-price-table/task-service-price-table.html' %}
    <form id="task_detail" action="" method="post">{% csrf_token %}

        {% include 'task/task_detail/tab.html' %}
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <!-- Arquivos ECM -->
            {% include 'task/task_detail/arq_ecm.html' %}
            {% include 'task/task_detail/historico.html' %}
        </div>
        <!-- CONFIRMAR AÇÃO -->
        <div id="confirmAction" class="modal fade "
            tabindex="-1" role="alert" aria-labelledby="modalTitle"
            aria-hidden="true">
            <div class="modal-dialog" style="min-width: 90%">
                <div class="modal-content">
                    <div id="modalHeader" class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="modalTitle" class="modal-title">
                            <i id="icon" class="mdi-24px"></i>
                             Deseja <span id="actionText">aceitar</span> o prazo? </h4>
                    </div>
                    <div class="modal-body p-30">
                        <div class="form-group" style="margin: auto">
                            <label> {{ form.notes.label }}</label>
                            {{ form.notes }}
                        </div>
                        <div class="rating-container">
                            <h4 class="panel-title text-center text-danger">
                                <i class="fa fa-star"></i>
                                <b> Avalie o atendimento do correspondente</b>
                            </h4>
                            <div class="form-group text-center" style="margin: auto">
                                {{ form.feedback_rating }}
                            </div>
                            <div class="form-group" style="margin: auto">
                                <label> {{ form.feedback_comment.label }}</label>
                                <div>{{ form.feedback_comment }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="width: 100px!important;" onClick="taskDetail.resetForm(this)"
                                class="btn btn-default"
                                data-dismiss="modal">
                            <i class="mdi mdi-close"></i> Cancelar
                        </button>                        
                        <button id="actionButton"                             type="submit"
                            onclick="taskDetail.submitTaskDetail(this, '{{form.instance.office.use_service}}')"
                            survey={% if form.instance|has_survey_correspondent %}true{% else %}''{% endif %}
                            style="width: 100px!important;"
                            class="btn btn-raised btn-success">Sim
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% include 'core/mask_selector.html' %}
{% endblock %}

{% block extra_scripts %}
    <!-- UPLOADS SCRIPTS  -->
    {% include 'task/includes/upload.html' %}
    <script src="{% static 'libs/survey-0.12.20/survey.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/bootstrap-rating/bootstrap-rating.min.js' %}?rev={{request.REVIEW}}"></script>
    <!--Style Switcher -->
    <script src="{% static 'skeleton/js/cbpFWTabs.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'skeleton/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}?rev={{request.REVIEW}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script src="{% static 'libs/jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.iframe-transport.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/jquery.fileupload.js' %}?rev={{request.REVIEW}}"></script>
    <script src="{% static 'libs/jQuery-File-Upload/js/basic-upload.js' %}?rev={{request.REVIEW}}"></script>

    <!-- datatables -->
    <script src="{% static 'skeleton/plugins/bower_components/datatables/jquery.dataTables.min.js' %}?rev={{request.REVIEW}}"></script>
    {% include 'questionnaire/generic_survey.html' %}
    {% include 'questionnaire/company_representative_questionnarie.html'%}
    <script src='{% static "task/task-detail.js" %}?rev={{request.REVIEW}}'></script>
    <script src='{% static "task/js/task-service-price-table.js" %}?rev={{request.REVIEW}}'></script>>
    <script type="text/javascript">
    var taskDetail;

    $(document).ready(function(){
        taskDetail = new TaskDetail('{{object.pk}}', '{{object.status.name}}', '{{custom_settings.i_work_alone}}', '{{pending_surveys.status|lower}}', {{ pending_surveys.pending_list|safe }}, `{{survey_company_representative|safe}}`, '{{csrf_token}}', null, null, '{{object.type_task.id}}', '{{object.type_task.name}}', '{{object.office.use_service}}');

        get_internal_ecms({{form.instance.pk}});
    })
    </script>
{% endblock %}
{% block script_window_load %}
    {{ block.super }}
{% endblock %}

{% block extra_modal %}
    <!-- Janela modal para mostrar progresso de deleção do arquivo -->
    <div id="deleting" class="modal">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-body" style="text-align: center;">
                    Excluindo arquivo ...
                </div>
                <div class="modal-footer">
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Janela modal para mostrar progresso do envio de arquivos -->
    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center">Enviando ...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress progress-lg">
                        <div class="progress-bar progress-bar-info active progress-bar-striped" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 0%" role="progressbar">
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Janela modal para mostrar enquanto processa a geolocalização -->
    <div id="locating" class="modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content ">
                <div class="modal-body" style="text-align: center;">
                    <h1>Aguarde...</h1>
                    <p class="h1"><i class="fa fa-spin fa-map-marker"></i></p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    {% include 'task/modal/processing.html' %}
{% endblock %}