.coverage
.cache
.pytest_cache/
__pycache__/
*.pyc
*.orig
local_settings.py
venv/
.venv/
staticfiles/
media/
celerybeat*
celeryd.pid
.idea/
.vscode/
docker-compose.override.yml
.env
containers/nginx/certs/*
!containers/nginx/certs/.gitkeep
