<p>TERMOS E CONDIÇÕES DE USO – QUATI</p>
<p>Caso pretenda utilizar o QUATI, seja na qualidade de USUÁRIO ou mero visitante, Você deverá aceitar
    integralmente as cláusulas e condições estabelecidas nos presentes Termos e Condições de Uso (“TCU”) estabelecidos
    pela sua proprietária MTTECH SERVIÇOS E DESENVOLVIMENTO DE SOFTWARES LTDA., pessoa jurídica de direito privado,
    constituída como sociedade empresária de responsabilidade limitada, registrada sob o CNPJ/MF 29.940.554/0001-50, com
    sede à Avenida Afonso Pena, 578, andar 16, Centro, Belo Horizonte/MG (“CONTRATADA”), comprometendo-se a cumprir
    todas as disposições aqui contidas.</p>
<p>Estes Termos e Condições de Uso, em conjunto com os demais contratos, estabelecem os termos e condições aplicáveis à
    utilização do QUATI e aos serviços que serão prestados pelo MTTECH a Você. É muito importante que Você leia e
    compreenda estas regras, bem como outras regras que possam ser aplicáveis, incluindo aquelas advindas (i) da Lei nº
    8.078/1990 (“Código de Defesa do Consumidor”), (ii) da Lei nº 8.904/1994 (“Estatuto da Ordem dos Advogados do
    Brasil”) e (iii) do Código de Ética e Disciplina da Ordem dos Advogados do Brasil. Ao utilizar nossos Serviços, o
    usuário assume e expressamente concorda com estes Termos e Condições de Uso, de forma que em caso de discordância
    com as normas aqui apresentadas, a utilização do QUATI deverá ser imediatamente interrompida.</p>
<p>DEFINIÇÕES</p>
<p>Os termos utilizados neste instrumento deverão ser interpretados e usados conforme definições abaixo, seja no
    singular ou plural:</p>
<p>(i) CONTRATADA: MTTECH SERVIÇOS E DESENVOLVIMENTO DE SOFTWARES LTDA., pessoa jurídica de direto privado com sede na
    Avenida Afonso Pena, nº 578, 16º andar, Bairro Centro, CEP: 30-130.001, em Belo Horizonte, Minas Gerais.</p>
<p>(ii) QUATI: é a plataforma web para gestão integrada de logística jurídica. Ela permite aos escritórios de
    advocacia e de logística jurídica e departamentos jurídicos de empresas a realizarem o ciclo de contratação,
    delegação, controle, conferência e pagamento dos serviços de correspondentes.</p>
<p>(iii) SITE: plataforma web da CONTRATADA hospedado no domínio www.ezlawyer.com.br e respectivos subdomínios,
    utilizados pela CLIENTE e/ou CORRESPONDENTE para acesso aos serviços disponibilizados pelo QUATI.</p>
<p>(iv) TCU: Termos e Condições de Uso estabelecidos pela CLIENTE que deverão ser aceitos por qualquer um que pretenda
    utilizar o QUATI, mesmo que a título de teste. O USUÁRIO estará integralmente vinculado às regras
    estabelecidas no TCU e, em caso de discordância, a utilização do QUATI deverá ser imediatamente
    interrompida.</p>
<p>(v) CLIENTE: escritório de advocacia, de logística jurídica ou departamento jurídico de uma empresa, devidamente
    cadastrada no sistema QUATI, que tenha interesse em solicitar diligências a serem executadas por
    CORRESPONDENTES.</p>
<p>(vi) CORRESPONDENTE: pessoa física ou jurídica devidamente cadastrada no sistema QUATI, que presta serviços
    advocatícios e/ou de gestão de logística jurídica, executando diligências mediante solicitação do CLIENTE.</p>
<p>(vii) USUÁRIO: CLIENTE ou CORRESPONDENTE que usufruir dos serviços disponibilizados pela CONTRATADA mediante
    aceitação do TCU.</p>
<p>ACEITE DOS TERMOS E CONDIÇÕES DE USO</p>
<p>1. Os presentes Termos e Condições de Uso podem ser alterados a qualquer momento, a critério exclusivo da
    CONTRATADA, sendo o USUÁRIO sempre informado caso isso aconteça. Caso o USUÁRIO não concorde com alguma mudança
    realizada nos TCU, recomendamos que este encerre sua Conta e interrompa a utilização do QUATI. Caso o USUÁRIO
    não encerre sua Conta no QUATI, considerar-se-ão aceitos os novos TCU. A última versão destes Termos e
    Condições de Uso sempre estará disponível no endereço: www.ezlawyer.com.br. Tais alterações serão aplicáveis ao EASY
    LAWYER desde o momento em que forem disponibilizadas. Algumas condições disponíveis em avisos legais em outros
    locais do QUATI poderão substituir ou complementar os presentes TCU, desde que expressamente previsto em cada
    caso.</p>
<p>CADASTRO</p>
<p>2. O acesso ao QUATI será realizado pelo USUÁRIO através de uma conta, com login e senha, criada pela
    CONTRATADA, sendo esta de uso pessoal e intransferível. O cadastro e a utilização do QUATI deverão ser
    realizados com informações, declarações e documentos válidos, completos e atualizados, responsabilizando-se o
    USUÁRIO, civil e criminalmente, pela veracidade e precisão das informações, isentando a CONTRATADA desta por
    qualquer dano ou prejuízo que a falta de informações corretas causar. </p>
<p>3. O USUÁRIO sempre será integralmente responsável pela utilização de sua conta no QUATI, devendo adotar as
    medidas de segurança necessárias para impedir o uso por terceiros não autorizados. Caso suspeite que um terceiro
    esteja utilizando indevidamente sua conta no QUATI, o USUÁRIO deverá comunicar tal fato à CONTRATADA e efetuar
    a troca de sua senha pessoal. </p>
<p>4. O uso do QUATI de forma indevida, irregular, ilegal ou em desacordo às condições previstas neste TCU
    implicará a exclusão do cadastro e a rescisão imediata do acesso do USUÁRIO ao QUATI, sujeito ainda às
    cominações legais. O USUÁRIO deverá indenizar a CONTRATADA, seus sócios, colaboradores, empregados, clientes e/ou
    terceiros prejudicados por qualquer perda, reclamação ou demanda, bem como por todos e quaisquer prejuízos
    resultantes da utilização indevida do QUATI em discordância com o disposto no presente instrumento e na
    legislação aplicável. </p>
<p>5. O USUÁRIO que realizar o cadastro em nome de uma pessoa jurídica assume e declara possuir poderes para
    representá-la nos termos do presente TCU e demais disposições referentes ao uso do QUATI. O USUÁRIO que
    realizar o cadastro em nome de pessoa jurídica responderá solidariamente perante a CONTRATADA por qualquer violação
    a este TCU, pelo abuso dos poderes de representação que tiver ou à legislação aplicável.</p>
<p>DISPONIBILIDADE DO QUATI</p>
<p>6. A CONTRATADA irá empreender seus melhores esforços para garantir a maior disponibilidade possível do QUATI,
    não sendo, entretanto, responsável por qualquer indisponibilidade do QUATI, por qualquer período ou
    momento.</p>
<p>7. O acesso ao QUATI pode ser interrompido, suspenso ou ficar intermitente temporariamente, sem qualquer aviso
    prévio, em caso de falha de sistema ou servidor, manutenção, alteração de sistemas, ou por qualquer motivo que fuja
    ao controle da CONTRATADA, sem que seja devida qualquer indenização e/ou reparação por parte desta. Para que tais
    ocorrências não causem dano, prejuízo ou perda aos USUÁRIOS, a CONTRATADA recomenda que os USUÁRIOS mantenham
    registros de suas contratações com CLIENTES e CORRESPONDENTES, conforme o caso, sendo certo que não será devida
    qualquer reparação ou indenização por parte da CONTRATADA, que ficará isenta de qualquer responsabilidade.</p>
<p>CONTEÚDO</p>
<p>8. A CONTRATADA irá se esforçar para manter o conteúdo do QUATI atualizado e completo, livre de quaisquer
    defeitos ou vírus, não se responsabilizando, contudo, por esses e quaisquer outros possíveis problemas que não sejam
    causadas direta e exclusivamente pela CONTRATADA. Fica desde já acordado que a CONTRATADA poderá alterar o conteúdo
    do QUATI a qualquer momento, sem prévio aviso.</p>
<p>9. Parte das informações disponíveis no QUATI são geradas e transmitidas pelos próprios USUÁRIOS, sem o
    envolvimento ou responsabilidade da CONTRATADA. A CONTRATADA não irá alterar o conteúdo que for produzido pelos
    USUÁRIOS, exceto na hipótese de violação ao TCU.</p>
<p>PROPRIEDADE INTELECTUAL</p>
<p>10. O USUÁRIO não adquire, pela utilização do QUATI, qualquer direito de propriedade intelectual ou outros
    direitos exclusivos, incluindo patentes, desenhos, marcas, direitos autorais ou quaisquer direitos sobre informações
    confidenciais ou segredos de negócio, bem como todo o conteúdo disponibilizado no site, incluindo, mas não se
    limitando a textos, gráficos, imagens, logotipos, ícones, fotografias, conteúdo editorial e qualquer outro material
    relacionado ao QUATI. </p>
<p>11. Todo o conteúdo disponibilizado no QUATI, incluindo, mas não se limitando a, textos, gráficos, imagens,
    logos, ícones, fotografias, conteúdo editorial, notificações, softwares e qualquer outro material é de propriedade
    exclusiva da CONTRATADA ou está devidamente licenciado por esta, não podendo ser copiado, plagiado, reproduzido ou
    publicado em qualquer meio (físico ou virtual). </p>
<p>12. É vedado ao USUÁRIO modificar, copiar, distribuir, transmitir, exibir, realizar, reproduzir, publicar,
    disponibilizar, licenciar ou criar obras derivadas a partir das informações coletadas no QUATI, bem como
    transferir ou utilizar para fins comerciais tais informações, softwares, produtos ou serviços, sob pena de violação
    deste instrumento e caracterização de infração legal. </p>
<p>13. É expressamente proibida a utilização de ferramentas, scripts, softwares, robôs ou meios que contenham qualquer
    vírus, worms, malwares, trojans e/ou outros programas de computador que possam causar danos ao QUATI.</p>
<p>OBRIGAÇÕES E DIREITOS DOS USUÁRIOS</p>
<p>14. O CORRESPONDENTE se obriga a:</p>
<p> a) Manter o seu perfil atualizado, contendo todas as informações necessárias, incluindo, mas não se limitando a
    nome, telefone, e-mail e região em que atua;</p>
<p>b) Realizar o atendimento aos CLIENTES conforme previsto nestes TCU; e,</p>
<p>c) Arcar integralmente com todo e qualquer ônus que advenha de quaisquer fatos da prestação de serviço de
    CORRESPONDENTE, o que inclui, mas não se limita a inconformidade com os padrões esperados de qualidade, etc.</p>
<p>d) O CORRESPONDENTE se obriga em caráter irrevogável e irretratável a indenizar e manter indene a CONTRATADA por
    toda e qualquer perda proveniente ou relativa ao descumprimento de qualquer termo, condição, disposição e/ou
    obrigação assumida pelo CORRESPONDENTE nestes TCU e nos demais documentos vinculados a este.</p>
<p>e) Caso a CONTRATADA venha a figurar no polo passivo de qualquer demanda judicial, cujo litígio advenha da prestação
    de serviço de CORRESPONDENTE anunciada no QUATI, o CORRESPONDENTE expressamente reconhece que será denunciado
    à lide nos termos do artigo 125, II da Lei n° 13.105 de 2015 ("Código de Processo Civil"), devendo arcar com todos
    os ônus que daí ocorra, inclusive com os custos legais para defesa da CONTRATADA.</p>
><p>15. São direitos e obrigações do CLIENTE:</p>
<p>a) É responsabilidade exclusiva do CLIENTE garantir a solvência para a contratação de CORRESPONDENTES.</p>
<p>b) Ao CLIENTE será sempre garantida a livre escolha na contratação do CORRESPONDENTE.</p>
<p>PERFIL E EXIBIÇÃO DOS CORRESPONDENTES</p>
<p>16. A CONTRATADA não garante ao CORRESPONDENTE:</p>
<p>a) Qualquer exclusividade geográfica, temática ou de qualquer outra sorte;</p>
<p>b) A percepção de qualquer incremento em sua clientela; e,</p>
<p>c) A idoneidade, solvência ou adimplência dos CLIENTES que venham a entrar em contato por meio da visualização de um
    perfil no QUATI.</p>
<p>17. A exibição do Perfil aos CLIENTES poderá variar e/ou ocorrer de acordo com os seguintes critérios:</p>
<p>a) Recomendações recebidas dos demais USUÁRIOS; e,</p>
<p>b) Localização da demanda e disponibilização do CORRESPONDENTE.</p>
<p>POLÍTICA DE PRIVACIDADE</p>
<p>18. Coleta de Dados. Para o seu uso regular, o aplicativo recolhe algumas informações sobre o USUÁRIO, tais como,
    mas sem se limitar a: dados de registro, localização, pasta de fotos/mídia e arquivos do seu dispositivo móvel.
    Estas informações também são usadas para monitorar o desempenho e desenvolver melhorias para o aplicativo. O EASY
    LAWYER garante o sigilo e a segurança destas informações, porém, poderá fornecer informações nos seguintes casos:
    (i) para cumprimento de solicitação de autoridades, bem como do Poder Judiciário e/ou para cumprimento de
    determinações de qualquer ente da Administração Pública, Direta, Indireta; e (ii) para as empresas subsidiárias,
    filiadas, coligadas, controladas, controladoras ou demais empresas pertencentes ao QUATI e clientes dos
    serviços de correspondência jurídica e correlatos.</p>
<p>19. Proteção de Informações. Faremos os melhores esforços para proteger a segurança dos dados dos usuários do
    aplicativo, que não serão divulgados, vendidos ou disponibilizados a terceiros não relacionados à contratação de
    serviços jurídicos. Respeitaremos a sua privacidade. Você poderá eventualmente receber e-mails com avisos e/ou
    comunicados importantes do QUATI.</p>
<p>20. Uso dos Dados. Ao acessar a plataforma web pela primeira vez, você vai realizar um cadastro e fornecer as
    informações requeridas. Quando do preenchimento, você concorda que o QUATI acesse seus dados pessoais, de
    localização, bem como arquivos, fotos e mídias, assim como quaisquer outros conteúdos enviados ao QUATI via
    upload por manifesta vontade do usuário para auferir de suas funcionalidades, tais anexo de documentação de
    correspondentes, atas de audiência, substabelecimentos, cópias de processos, cartas de preposição etc. para uso pela
    QUATI na forma estabelecida neste Termo. Os dados de localização são usados para que o aplicativo monitore o
    comparecimento do correspondente a um local como, por exemplo, fórum ou tribunal.</p>
<p>LIMITAÇÃO DE RESPONSABILIDADE DA CONTRATADA</p>
<p>21. A CONTRATADA não é uma intermediária, agenciadora ou parte na contratação de CORRESPONDENTES jurídicos. O EASY
    LAWYER é tão somente um portal pelo qual os CLIENTES podem realizar a contratação (através de simples listagem),
    controle das diligências contratadas, bem como o pagamento dos CORRESPONDENTES pela realização de diligências com
    maior facilidade, sem qualquer envolvimento da CONTRATADA na escolha ou contratação destes profissionais ou
    sociedades de profissionais. Desta forma, a CONTRATADA não se responsabiliza por:</p>
<p>(i) falha de operação, operação por pessoas não autorizadas ou qualquer outra causa em que não exista culpa da
    CONTRATADA;</p>
<p>(ii) danos ou prejuízos decorrentes de decisões administrativas, gerenciais ou comerciais tomadas com base nas
    informações fornecidas pelo QUATI;</p>
<p>(iii) quaisquer danos diretos ou indiretos decorrentes de fatos resultantes do uso do QUATI ou da inabilidade
    de uso deste, tampouco pela completude e/ou disponibilidade dos serviços contratados com CORRESPONDENTES, bem como
    pela qualidade destes;</p>
<p>(iv) quaisquer pagamentos realizados em razão do uso, ou através, do QUATI, por qualquer USUÁRIO, conforme o
    caso.</p>
<p>(v) problemas de “caso fortuito” ou “força maior” nos termos do Art. 393 do Código Civil;</p>
<p>(vi) problemas decorrentes de ações de terceiros que possam interferir na qualidade do serviço;</p>
<p>(vii) efetiva capacidade ou solvência dos CLIENTES quando da contratação de serviços de CORRESPONDENTES através do
    QUATI;</p>
<p>(viii) danos causados a terceiros em razão de serviços contratados e conteúdo gerado através do QUATI;</p>
<p>(ix) revisar as informações fornecidas pelos USUÁRIOS, seja no que tange à veracidade, exatidão ou completude dos
    dados, recomendações dos CORRESPONDENTES, legalidade ou violação legal em função do fornecimento destas
    informações; </p>
<p>(x) danos pessoais ou qualquer prejuízo incidental, especial, indireto ou consequente, incluindo, sem limitação,
    prejuízos por perda de lucro, corrupção ou perda de dados, falha de transmissão ou recepção de dados, não
    continuidade do negócio ou qualquer outro prejuízo ou perda comercial, decorrentes ou relacionados ao seu uso ou sua
    inabilidade em usar o QUATI. </p>
<p>22. A CONTRATADA adota as medidas de segurança adequadas de acordo com os padrões de mercado para a proteção das
    informações armazenadas no QUATI. Contudo, o USUÁRIO reconhece que nenhum sistema, servidor ou software está
    absolutamente imune a ataques e/ou invasões de hackers e outros agentes maliciosos, não sendo a CONTRATADA
    responsável por qualquer exclusão, obtenção, utilização ou divulgação não autorizada de informações resultantes de
    ataques que a CONTRATADA não poderia razoavelmente evitar por meio dos referidos padrões de segurança.</p>
<p>LIMITAÇÃO DE GARANTIA DO QUATI</p>
<p>23. O QUATI é fornecido “no estado em que se encontra”, com todas as falhas e sem garantia de qualquer
    espécie, ficando desde já estabelecido que a CONTRATADA não garante que as funções contidas no QUATI atendam
    às necessidade específicas do USUÁRIO, tampouco garante que a operação do QUATI será ininterrupta ou livre de
    erros, que qualquer serviço continuará disponível, nem que os defeitos no QUATI serão corrigidos ou que o EASY
    LAWYER será compatível ou funcione com qualquer software, aplicativos ou serviços de terceiros.</p>
<p>DISPOSIÇÕES GERAIS</p>
<p>24. O USUÁRIO declara que foi devidamente informado a política de privacidade e ambientes de proteção de informações
    confidenciais, dados pessoais e registros de acesso da CONTRATADA, consentindo livre e expressamente às ações de
    coleta, uso, armazenamento e tratamento das referidas informações e dados. </p>
<p>25. Para promover o bom funcionamento e qualidade dos serviços do QUATI, a CONTRATADA se reserva no direito
    de, sem a necessidade de notificação prévia ao USUÁRIO, impedir ou interromper o acesso deste ao software no caso de
    violação a qualquer disposição destes TCU ou de qualquer contrato celebrado em razão do uso do QUATI. O
    cancelamento da conta do USUÁRIO no QUATI em nenhuma hipótese o escusará do cumprimento de obrigações
    previamente assumidas perante a CONTRATADA e outros USUÁRIOS.</p>
<p>26. O USUÁRIO declara estar ciente de que as operações que correspondam à aceitação do presente TCU, bem como de
    determinadas condições e opções de serviços serão registradas nos bancos de dados da CONTRATADA, juntamente com a
    data e hora em que foram realizadas pelo USUÁRIO, podendo tais informações serem utilizadas como prova pelas partes,
    independentemente do cumprimento de qualquer outra formalidade.</p>
<p>27. A CONTRATADA se reserva o direito de fazer quaisquer alterações no QUATI que julgue necessárias, para
    remover, modificar, editar ou limitar o alcance e funcionalidade deste, de modo a aprimorar a qualidade e
    desempenho. O trabalho de manutenção pode limitar e/ou interromper parcialmente a utilização do QUATI, e, em
    determinadas circunstâncias, inclusive perda de dados. A CONTRATADA, portanto, não presume garantia pela
    disponibilidade do serviço ou falta de inconveniência técnica ou perda de dados.</p>
<p>28. Todas as comunicações que consistam em avisos e mensagens push no QUATI ou enviadas durante o curso dos
    serviços, que têm como objetivo informar o USUÁRIO sobre determinadas questões ou realizar orientações, serão
    consideradas como tendo sido validamente recebidas e atendidas pelo USUÁRIO.</p>
<p>29. O descumprimento, pelo USUÁRIO, das cláusulas, condições e obrigações constantes nestes Termos enseja à
    CONTRATADA o direito de cancelar, suspender, excluir e/ou desativar o acesso, o cadastro ou a utilização do site
    pelo USUÁRIO, através de qualquer ferramenta disponível, de forma temporária ou definitiva, ao seu único e exclusivo
    critério, sem prejuízo da adoção de todas as medidas legais pertinentes e sem a necessidade de aviso prévio.</p>
<p>30. A não validade, no todo ou em parte, de qualquer disposição deste TCU não afetará a validade de qualquer outra
    disposição deste, ficando a CONTRATADA autorizada a substituir a disposição declarada nula por outra que reflita a
    sua real intenção quando da elaboração deste TCU. </p>
<p>31. O USUÁRIO consente livre e expressamente que suas informações poderão ser transferidas a terceiros em
    decorrência da venda, aquisição, fusão, reorganização societária ou qualquer outra mudança no controle da
    CONTRATADA. A CONTRATADA, contudo, compromete-se, nestes casos, a informar o USUÁRIO.</p>
<p>32. A CONTRATADA poderá, ao seu exclusivo critério, a qualquer tempo e sem a necessidade de comunicação prévia ao
    USUÁRIO:</p>
<p>(i) Encerrar, modificar ou suspender, total ou parcialmente, o acesso do USUÁRIO ao QUATI, quando referido
    acesso ou cadastro estiver em violação das condições estabelecidas neste TCU;</p>
<p>(ii) Excluir, total ou parcialmente, as informações cadastradas pelo USUÁRIO que não estejam em consonância com as
    disposições deste TCU;</p>
<p>(iii) Acrescentar, excluir ou modificar o conteúdo oferecido no QUATI.</p>
<p>33. O presente TCU poderá ser atualizado a qualquer momento pela CONTRATADA sendo que a aceitação do TCU pelo
    USUÁRIO em seu primeiro acesso não o exime da aceitação futura do TCU modificado e/ou alterado pela CONTRATADA. Caso
    o USUÁRIO não concorde com as alterações realizadas, deverá imediatamente suspender a utilização do QUATI e
    comunicar a CONTRATADA que poderá proceder com o cancelamento de seu cadastro. Na ausência de manifestação do
    USUÁRIO, entender-se-á que este aceitou tacitamente o TCU atualizado, permanecendo estes válidos e vigentes entre as
    partes.</p>
<p>34. A CONTRATADA ainda poderá, a seu exclusivo critério, suspender, modificar ou encerrar as atividades do EASY
    LAWYER, mediante comunicação prévia por escrito ao USUÁRIO, com antecedência mínima de 30 (trinta) dias,
    disponibilizando formas e alternativas de extrair do Site as informações, salvo nas hipóteses de caso fortuito ou
    força maior.</p>
<p>35. Somente a pessoa cadastrada pelo próprio USUÁRIO como administradora de conta poderá solicitar à CONTRATADA que
    as informações inseridas pelo USUÁRIO sejam apagadas. Uma vez apagadas, as informações não poderão mais ser
    recuperadas, ficando a CONTRATADA isenta de qualquer responsabilidade por quaisquer perdas ou danos decorrentes
    deste procedimento solicitado pelo USUÁRIO. </p>
<p>36. O USUÁRIO Advogado se compromete a observar as regras relativas ao exercício da advocacia, em especial aquelas
    advindas do Código de Ética e Disciplina da OAB, disponível no link:
    http://www.oab.org.br/arquivos/pdf/LegislacaoOab/codigodeetica.pdf e do Estatuto da Advocacia e da OAB, disponível
    no link: http://www.oab.org.br/arquivos/pdf/LegislacaoOab/estatuto.pdf.</p>
<p>37. Todas as questões envolvendo CONTRATADA, o QUATI e/ou o USUÁRIO serão regidas pelas leis da República
    Federativa do Brasil, sendo eleito o Foro da Comarca de Belo Horizonte/MG como o único competente para dirimir
    quaisquer litígios e/ou demandas que venham a envolver as Partes em relação aos Serviços prestados.</p>