{% extends "inicial.html" %}

{% load core_filters static ecm_tags %}

{% block css_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "chosen/chosen.min.css" %}">
    <link rel="stylesheet" href="{% static "chosen/chosen-material-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "libs/toastr/build/toastr.min.css" %}">
{% endblock css_head %}
{% block js_head %}
    {{ block.super }}
{% endblock js_head %}
{% block extrajs%}
    {{ block.super }}

    <script src="{% static "js/jquery-2.1.1.min.js" %}?rev={{request.REVIEW}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/survey-jquery/0.12.23/survey.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static "libs/toastr/build/toastr.min.js" %}?rev={{request.REVIEW}}"></script>
{#    Apesar de repetidos, os scripts a seguir são necessário para renderização do form #}
{#    TODO: Refatorar os blocos head, extra_head, extra_js #}

    <script src="{% static "libs/bootstrap-material-design-0.5.10/js/material.min.js" %}?rev={{request.REVIEW}}"></script>
    <script src="{% static "chosen/chosen.jquery.min.js" %}?rev={{request.REVIEW}}"></script>
    <script src="{% static "libs/jquery-mask-plugin/jquery.mask.min.js" %}?rev={{request.REVIEW}}"></script>
    <script src="{% static "libs/jquery-mask-plugin/jquery.maskMoney.min.js" %}?rev={{request.REVIEW}}"></script>

    {{ form.media }}
{% endblock extrajs %}

{% block content %}
    {{ block.super }}
    <script language="JavaScript">
        $('#myModal').modal('show')
        var pk_list = [];

        function toggle(source) {


            checkboxes = document.getElementsByName('selection');
            for (var i in checkboxes) {

                if (checkboxes.hasOwnProperty(i)) {
                    checkboxes[i].checked = source.checked;
                    if (source.checked)
                        pk_list.push(checkboxes[i].id);
                    else
                        pk_list = []
                }
            }
            if (pk_list.length > 0) {
                document.getElementById('delete_button').disabled = false;
            } else {
                document.getElementById('delete_button').disabled = true;
            }
        }

        function showDeleteButton(source) {
            if (source.checked) {
                pk_list.push(source.id);
            } else {
                pk_list.pop();
                document.getElementById("selection_header").checked = false;
            }

            if (pk_list.length > 0)
                document.getElementById('delete_button').disabled = false;
            else
                document.getElementById('delete_button').disabled = true;

        }
    </script>

    <form id="object_form" action="" method="post">

        {% csrf_token %}

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        {% block form_title %}
                            {% with form.get_title as form_title %}
                                {% if form_title %}
                                    {{ form_title }}
                                {% else %}
                                    {% if object %}
                                        Editando {{ object }}
                                    {% else %}
                                        Novo {{ form.get_model_verbose_name }}
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        {% endblock %}
                    </h1>
                </div>
                <div class="panel-body">
                    {% block form_container %}
                        {% include 'core/includes/form_rows.html' %}
                </div>
            </div>
        </div>
                        {% if personaddress.forms %}
                            {{ personaddress.management_form }}
                            {% for form in personaddress.forms %}
                                {% if forloop.first %}
                                <div class="row">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h1 class="panel-title">
                                                Endereço
                                            </h1>
                                        </div>
                                {% endif %}
                                <div class="panel-body">
                                {% include 'core/address_base_form.html' %}
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div style="text-align: center;">
            {% block form_butons %}

                {% if object_list_url %}
                    {% include 'core/widgets/cancel_button.html' %}
                {% endif %}

                <button type="submit" class="btn btn-raised btn-success">
                    <i class="material-icons left">done</i>
                    Salvar
                </button>

            {% endblock %}

        </div>
    </form>
{% endblock content %}
