{% extends 'skeleton/includes/rigth-sidebar.html' %}

{% load static %}

{% block extra_stylesheets %} 
  <link href="{% static 'core/css/custom-message.css' %}" rel="stylesheet">
{% endblock %}

{% load static %}

{% block right-sidebar-header %}
  <strong>notificações</strong>
{% endblock right-sidebar-header %}

{% block right-sidebar-body %}
  <div class="white-box">
    <h3 class="box-title">Novidades e eventos do Quati</h3>    
    <div class="comment-center p-t-10" id="custom-messages">
      <!--As mensagens sao renderizadas pelo script custom-message.js -->
    </div>
  </div>
{% endblock %}

{% block 'extra_scripts' %} 
{{block.super}}
<script src='{% static "core/js/custom-message.js" %}?rev={{request.REVIEW}}'></script>
<script>
  $(document).ready(function(){            
    let customMessage = new CustomMessage()    
    customMessage.loadMessages()    
  })
</script> 
{% endblock %}
