{% extends "skeleton/forms/base.html" %}

{% load render_table from django_tables2 %}{% load ezl_tables %}
{% load static %}
{% load querystring from ezl_tables %}

{% block extra_content %}
    <div class="white-box">
        <ul class="nav nav-tabs">
                <li class="active" id="li-endereco"><a data-toggle="tab" name="endereco" href="#endereco">Endereços</a></li>
                <li id="li-contact-mechanism"><a data-toggle="tab" name="contact-mechanism" href="#contact-mechanism">Mecanismos de contato</a></li>
        </ul>    
        <div class="tab-content">
            <div id="endereco" class="tab-pane fade in active">
                <form action="{% url 'address_delete' person_pk=object.pk %}" method="post" id="addressForm">
                    {% csrf_token %}                                                                        
                    <div class="table-responsive">

                        <table class="table table-striped table-hover" paginate-fixed>
                            {% block table.thead %}
                                <thead>
                                <tr>
                                    {% for column in table.columns %}
                                        {% if column.orderable %}
                                            <th {{ column.attrs.th.as_html }}><a
                                                    href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|lower|capfirst }}</a>
                                            </th>
                                        {% else %}
                                            {% if not column.attrs.selectable == True %}
                                                <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                                            {% else %}
                                                <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endblock table.thead %}
                            {% block table.tbody %}
                                <tbody>
                                {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                                    {% block table.tbody.row %}
                                        <tr class="{% cycle "odd" "even" %}" data-href="{{ row.attrs.data_href }}">
                                            {% for column, cell in row.items %}
                                                <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endblock table.tbody.row %}
                                {% empty %}
                                    {% if table.empty_text %}
                                        {% block table.tbody.empty_text %}
                                            <tr>
                                                <td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
                                            </tr>
                                        {% endblock table.tbody.empty_text %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            {% endblock table.tbody %}
                            {% block table.tfoot %}
                                <tfoot></tfoot>
                            {% endblock table.tfoot %}
                        </table>
                    </div>


                    <div class="text-right" style="">
                        <div class="text-right" style="">
                            <div class="fixed-btn">
                                <button type="button" id="addressForm_delete_button" onclick="warningDelete(this)" 
                                    class="btn btn-danger" disabled>Remover
                                </button>
                                <a class="btn btn-success" href="{% url 'address_create' object.pk %}">
                                    <!-- style="height: 30px !important; width: 30px !important; min-width: 30px !important;"> -->
                                    Adicionar</a>
                            </div>
                        </div>

                    </div>
                
                    
                
    
                    <!-- Modal -->
                    <div id="confirmDelete" class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title"><i class="fa fa-trash"></i></h4>
                                    <h4 class="modal-title">Atenção!</h4>
                                </div>
                                <div class="modal-body">
                                    {% if on_delete == 'CASCADE' %}
                                        <p>Ao excluir excluir o(s) registro(s) selecionado(s), todos os seus vínculos também
                                            serão excluídos! Essa ação é irreversível. Deseja continuar?</p>
                                    {% else %}
                                        <p>Tem certeza que deseja excluir o(s) registro(s) selecionado(s)? Essa ação é
                                            irreversível.
                                            Deseja continuar?</p>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Sim</button>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </form>
            
            </div>
            <div id="contact-mechanism" class="tab-pane fade">
                <form action="{% url 'contact_mechanism_delete' person_pk=object.pk %}" method="post" id="contactMechanismForm">
                    {% csrf_token %}                                                                            
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" paginate-fixed>
                            {% block table_contact_mechanism.thead %}
                                <thead>
                                <tr>
                                    {% for column in table_contact_mechanism.columns %}
                                        {% if column.orderable %}
                                            <th {{ column.attrs.th.as_html }}><a
                                                    href="{% querystring table_contact_mechanism.prefixed_order_by_field=column.order_by_alias.next %}">
                                                    {{ column.header|lower|capfirst }}</a>
                                            </th>
                                        {% else %}
                                            {% if not column.attrs.selectable == True %}
                                                <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                                            {% else %}
                                                <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endblock table_contact_mechanism.thead %}
                            {% block table_contact_mechanism.tbody %}
                                <tbody>                                                                                                 
                                {% for row in table_contact_mechanism.page.object_list|default:table_contact_mechanism.rows %} {# support pagination #}
                                    {% block table_contact_mechanism.tbody.row %}
                                        <tr class="{% cycle "odd" "even" %}" data-href="{{ row.attrs.data_href }}">
                                            {% for column, cell in row.items %}
                                                <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endblock table_contact_mechanism.tbody.row %}
                                {% empty %}
                                    {% if table_contact_mechanism.empty_text %}
                                        {% block table_contact_mechanism.tbody.empty_text %}
                                            <tr>
                                                <td colspan="{{ table_contact_mechanism.columns|length }}">{{ table_contact_mechanism.empty_text }}</td>
                                            </tr>
                                        {% endblock table_contact_mechanism.tbody.empty_text %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            {% endblock table_contact_mechanism.tbody %}
                            {% block table_contact_mechanism.tfoot %}
                                <tfoot></tfoot>
                            {% endblock table_contact_mechanism.tfoot %}
                        </table>
                    </div>

                    <div class="text-right" style="">
                        <div class="text-right" style="">
                            <div class="fixed-btn">
                                <button type="button" id="contactMechanismForm_delete_button" onclick="warningDelete(this)" 
                                    class="btn btn-danger " disabled>Remover
                                </button>
                                <a class="btn btn-success" href="{% url 'contact_mechanism_create' object.pk %}">
                                    <!-- style="height: 30px !important; width: 30px !important; min-width: 30px !important;"> -->
                                    Adicionar</a>
                            </div>
                        </div>

                    </div>
                                                
                    <!-- Modal -->
                    <div id="confirmDelete" class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title"><i class="fa fa-trash"></i></h4>
                                    <h4 class="modal-title">Atenção!</h4>
                                </div>
                                <div class="modal-body">
                                    {% if on_delete == 'CASCADE' %}
                                        <p>Ao excluir excluir o(s) registro(s) selecionado(s), todos os seus vínculos também
                                            serão excluídos! Essa ação é irreversível. Deseja continuar?</p>
                                    {% else %}
                                        <p>Tem certeza que deseja excluir o(s) registro(s) selecionado(s)? Essa ação é
                                            irreversível.
                                            Deseja continuar?</p>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Sim</button>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </form>                    
            </div>
        </div>
    </div>
    {% include 'core/mask_selector.html' %}                
{% endblock %}
{% block extra_scripts %}
    {% if view.model.use_upload %}
        <!-- UPLOADS SCRIPTS  -->
        {% include 'ecm/javascripts.html' %}

        <script src="{% static 'libs/jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}?rev={{request.REVIEW}}"></script>
        <script src="{% static 'libs/jQuery-File-Upload/js/jquery.iframe-transport.js' %}?rev={{request.REVIEW}}"></script>
        <script src="{% static 'libs/jQuery-File-Upload/js/jquery.fileupload.js' %}?rev={{request.REVIEW}}"></script>
        <script src="{% static 'skeleton/plugins/bower_components/jquery.tmpl/jquery.tmpl.js' %}?rev={{request.REVIEW}}"></script>
        <!-- DIV para o Ajax localizar o local (pelo ID) onde será incluído os novos scripts de deleção
             a medida que for adicionando novos arquivos -->
        <div id="scripts">
        </div>
    {% endif %}
    <script language="JavaScript">
        // Warning Delete Message
        function warningDelete(source) {          
            {% if on_delete == 'CASCADE' %}
                var text = "Ao excluir excluir o(s) registro(s) selecionado(s), todos os seus " +
                    "vínculos também serão excluídos! Essa ação é irreversível";
            {% else %}
                var text = "Tem certeza que deseja excluir o(s) registro(s) selecionado(s)? " +
                    "Essa ação é irreversível.";
            {% endif %}

            swal({
                title: "Excluir?",
                text: text,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sim, desejo excluir",
                cancelButtonText: "Cancelar"
            }.then(function (result) {
                if(result.value) {
                    $('#' + source.form.id).submit()                    
                }
            });
        }

        var pk_list = [];

        function toggle(source) {


            checkboxes = document.getElementsByName('selection');
            for (var i in checkboxes) {

                if (checkboxes.hasOwnProperty(i)) {
                    checkboxes[i].checked = source.checked;
                    if (source.checked)
                        pk_list.push(checkboxes[i].id);
                    else
                        pk_list = []
                }
            }
            if (pk_list.length > 0) {
                $("#" + source.form.id + "_delete_button").attr('disabled', false);
            } else {
                $("#" + source.form.id + "_delete_button").attr('disabled', true);
            }
        }

        function showDeleteButton(source) {                        
            if (source.checked) {
                pk_list.push(source.id);
            } else {
                pk_list.pop();
                document.getElementById("selection_header").checked = false;
            }

            if (pk_list.length > 0)
                $("#" + source.form.id + "_delete_button").attr('disabled', false);
            else
                $("#" + source.form.id + "_delete_button").attr('disabled', true);

        }
    </script>
{% endblock %}
