{% extends "skeleton/forms/base.html" %}
{% load static   %}
{% block extra_form %}
    {% include 'core/mask_selector.html' %} 
{% endblock %}

{% block button_cancel %}
    {% include 'core/widgets/cancel_button.html'  with link_list='person_list' %}
{% endblock %}
{% block extra_scripts %}

    {% if view.model.use_upload %}
        <!-- UPLOADS SCRIPTS  -->
        {% if form.documents %}
                {# upload nativo: nenhum script adicional necessário #}
        {% else %}
            {% include 'ecm/javascripts.html' %}

            <script src="{% static 'libs/jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}?rev={{request.REVIEW}}"></script>
            <script src="{% static 'libs/jQuery-File-Upload/js/jquery.iframe-transport.js' %}?rev={{request.REVIEW}}"></script>
            <script src="{% static 'libs/jQuery-File-Upload/js/jquery.fileupload.js' %}?rev={{request.REVIEW}}"></script>
            <!-- DIV para o Ajax localizar o local (pelo ID) onde será incluído os novos scripts de deleção
                 a medida que for adicionando novos arquivos -->
            <div id="scripts">
            </div>
        {% endif %}        
    {% endif %}
{% endblock %}
