{% extends 'skeleton/forms/base.html' %}
{% load static %}
{% block form %}
    {% load static bootstrap3 %}


    <div class="row">
    	{% bootstrap_field form.office form_group_class="form-group col-sm-6" %}
        {% bootstrap_field form.name form_group_class="form-group col-sm-6" %}        
    </div>
    <div class="row">    	
		{% bootstrap_field form.supervisors form_group_class="form-group col-md-12" %}    	
    </div>
    <div class="row">
    	{% bootstrap_field form.members form_group_class="form-group col-md-12" %}            	    	            
    </div>
    <div class="row">
        {% bootstrap_field form.is_active form_group_class="form-group col-sm-6" %}
    </div>
{% endblock %}

{% block extra_stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static 'skeleton/plugins/bower_components/multiselect/css/multi-select.css' %}">	

	<style type="text/css">
		.search-input {			
			width: 100%;
			margin-bottom: 5px;
		}
		.ms-container {
			width: 100% !important; 
		}		
	</style>
{% endblock %}


{% block extra_scripts %} 
	<script src="{% static 'skeleton/plugins/bower_components/multiselect/js/jquery.multi-select.js' %}?rev={{request.REVIEW}}"></script>
	<script src="{% static 'skeleton/plugins/bower_components/jquery.quicksearch/dist/jquery.quicksearch.js' %}?rev={{request.REVIEW}}"></script>	
	<script type="text/javascript">
		$(document).ready(function() {
		  var setMultSelect = function(id_select, placeholderSelectable, placeholderSelection) {
		  	$('#'+id_select).multiSelect({
		    selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='"+placeholderSelectable+"'>",
		    selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='"+placeholderSelection+"'>",
		    afterInit: function(ms) {
		      var that = this,		      
		        $selectableSearch = that.$selectableUl.prev(),
		        $selectionSearch = that.$selectionUl.prev(),
		        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
		        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';
		      that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
		        .on('keydown', function(e) {
		          if (e.which === 40) {
		            that.$selectableUl.focus();
		            return false;
		          }
		        });
		      that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
		        .on('keydown', function(e) {
		          if (e.which === 40) {
		            that.$selectionUl.focus();
		            return false;
		          }
		        })
		    },
		    afterSelect: function() {
		      this.qs1.cache();
		      this.qs2.cache();
		    },
		    afterDeselect: function() {
		      this.qs1.cache();
		      this.qs2.cache();
		    }
		  })
		};
		setMultSelect('id_members', 'Pesquisar usuários disponíveis', 'Pesquisar usuários selecionados...');
		setMultSelect('id_supervisors', 'Pesquisar supervisores disponíveis', 'Pesquisar supervisores selecionados');
	})
	</script>
{% endblock %}