{% load static %}
<div id="about-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Sobre</h4>
            </div>
            <div class="modal-body p-l-20">
                <div class="text-center p-b-10">
                    <img src="{% static "img/quati-logo.png" %}" alt="Quati" height="120"/>
                    <p class="text-muted font-bold">Versão: 1.3.5</p>
                </div>

                <p>&copy; {% now "Y" %} Quati. Todos os direitos reservados.</p>
                <p>Compatibilidade com os navegadores:</p>
                <ul id="browserVersions">
                    <li>Chrome 62.0 (ou superior)</li>
                    <li>Firefox 47.0 (ou superior)</li>
                    <li>Opera 49.0 (ou superior)</li>
                    <li>Safari 11.0 (ou superior)</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success waves-effect" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
