
{% load static %}<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title_page }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        {% block css_head %}
            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="{% static "libs/bootstrap-3.3.7/css/bootstrap.min.css" %}">
            <link rel="stylesheet" href="{% static "libs/toastr/build/toastr.min.css" %}">

            <link rel="stylesheet"
                  href="{% static "libs/bootstrap-material-design-0.5.10/css/bootstrap-material-design.css" %}">
            <link rel="stylesheet" href="{% static "libs/bootstrap-material-design-0.5.10/css/ripples.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "libs/font-awesome-4.7.0/css/font-awesome.min.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "libs/balloon/balloon.min.css" %}">

            <!-- Material Design fonts -->
            <link rel="stylesheet" type="text/css" href="{% static "fonts/google.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "fonts/material.css" %}">
            <!-- Our custom style goes here -->
            <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
            <link rel="stylesheet" type="text/css"
                  href="{% static "libs/bootstrap3-datetimepicker-4.17.47/css/bootstrap-datetimepicker.css" %}">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
                  rel="stylesheet"/>
        {% endblock css_head %}
        {% block js_head %}
            <!-- Compiled and minified JavaScript -->
            <script src="{% static "libs/jquery-3.2.17/jquery.min.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "js/session.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "js/office.js" %}?rev={{request.REVIEW}}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/survey-jquery/0.12.23/survey.jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

            <script src="{% static "js/utils.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "js/modal.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "js/table-tr-link.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "js/pagination-fixed.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "chat/js/chat.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "js/masks.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "libs/bootstrap-3.3.7/js/bootstrap.min.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "libs/bootstrap-material-design-0.5.10/js/material.min.js" %}?rev={{request.REVIEW}}"></script>
    <script src="{% static "libs/bootstrap-material-design-0.5.10/js/material.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "libs/bootstrap-material-design-0.5.10/js/ripples.min.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "libs/bootstrap3-datetimepicker-4.17.47/js/moment.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "libs/bootstrap3-datetimepicker-4.17.47/js/moment-timezone.min.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "libs/bootstrap3-datetimepicker-4.17.47/js/locale-pt-br.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "libs/bootstrap3-datetimepicker-4.17.47/js/bootstrap-datetimepicker.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "libs/bootstrap-ajax-typeahead/js/bootstrap-typeahead.min.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "libs/toastr/build/toastr.min.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "js/dashboard.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "js/widget_toast.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "libs/jquery-mask-plugin/jquery.mask.min.js" %}?rev={{request.REVIEW}}"></script>
            <script src="{% static "libs/jquery-mask-plugin/jquery.maskMoney.min.js" %}?rev={{request.REVIEW}}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        {% endblock js_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/survey-jquery/0.12.23/survey.jquery.min.js"></script>
        {% block extra_head %}{% endblock %}
    {% endblock head %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block javascript %}
        {% block extrajs %}{% endblock %}
    {% endblock %}
</body>
</html>
