{% load static %}

{% block extra_stylesheets %}
    <!-- DataTables -->
    <link href="{% static 'skeleton/plugins/bower_components/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="//cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .modal {
            width: 100%;
        }
        .modal-content {
            position: absolute;
        }
        table.dataTable.row-border tbody tr:first-child th, table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th, table.dataTable.display tbody tr:first-child td {
            font-size: small !important;
            cursor: pointer;
        }
        tr {
            cursor: pointer;
        }
        #table-service-price {
            overflow: auto;
        }
        table.dataTable thead .sorting_asc, table.dataTable thead .sorting, table.dataTable thead .sorting_desc{
            background-image: none !important;
        }
    </style>
{% endblock %}

<!-- CONFIRMAR AÇÃO -->
<div id="modal-service-price-table" class="modal fade "
  tabindex="-1" role="alert" aria-labelledby="modalTitle"
  aria-hidden="true" task-id="">
  <div class="modal-dialog" style="min-width: 95%;">
    <!-- MODAL -->  
    <div class="modal-content" style="min-width: 100%;">
      <!-- HEADER MODAL -->
      <div id="modalHeader" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="modalTitle" class="modal-title">
          <i id="icon" class="mdi-24px"></i>
          Escolha um escritório correspondente 
        </h4>
      </div>
      <!-- END HEADER MODAL -->

      <!-- BODY MODAL -->
      <div class="modal-body p-30">
        <div class="form-group" style="margin: auto">
            <label>Tipo de serviço: </label>
            <span id="type-task-text"></span>
        </div>
        <div class="form-group" style="margin: auto">
          <div class="row">
            <div class="col" id="modal-content">
              <table id='table-service-price' style="width:100%">
                <thead>
                  <tr>
                    <th>Escritório correspondente</th>
                    <th>Tipo de serviço</th>
                    <th>Rede</th>
                    <th>UF</th>
                    <th>Comarca</th>
                    <th>Complemento da comarca</th>
                    <th>Cidade</th>
                    <th>Cliente</th>
                    <th>Valor</th>
                    <th>Avaliação</th>
                    <th>Os retornadas</th>
                    <th>Categoria</th>
                  </tr>                  
                </thead>
                <tbody>                  
                </tbody>
              </table>
              <hr/>
              <div class="row">
                <div class="col col-md-4">
                  <div class="form-inline">
                      <label for="valor">Valor: </label>
                      <input type="text" class="form-control" mask='money' id="value">
                  </div>
                </div>
                <div class="col col-md-12">
                  <div class="form-group">
                      <label for="notes">Insira um comentário</label>
                      <textarea class="form-control" rows="3" id="note"></textarea>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END BODY MODAL -->

      <!-- FOOTER MODAL -->
      <div class="modal-footer">
        <button style="widtd: 100px!important;" class="btn btn-default" data-dismiss="modal">
          <i class="mdi mdi-close"></i> Cancelar
        </button>
        <button class="btn btn-raised btn-success" id="btn-ok">
          <i class="mdi mdi-account-location"></i> Confirmar
        </button>
      </div>
      <!-- END FOOTER MODAL -->
    </div>
  </div>
</div>

{% block extra_scripts %} 
    {% include 'core/mask_selector.html' %}
    <!-- datatables -->
    <script src="{% static 'skeleton/plugins/bower_components/datatables/jquery.dataTables.min.js' %}?rev={{request.REVIEW}}"></script>
    <script type="text/javascript">  
        var correspondentTable;  
        var chosenPrice = {};
        $(document).ready(function(){
            function getOfficeCorrespondentLink(officeCorrespondent){
                if (officeCorrespondent.id !== '' && officeCorrespondent.legal_name !== ''){
                    return `<a href="/office_profile/${officeCorrespondent.id}/" target="_blank">`+
                        `${officeCorrespondent.legal_name}</a>`
                }
                return ''
            }
            $('#modal-service-price-table').on('show.bs.modal', function(e) {
                var taskId = $(this).attr('task-id');
                var typeTask = $(this).attr('type-task');
                var servicePriceTable = servicePrices[taskId];
                $("#type-task-text").html(typeTask);
                if (!correspondentTable) {
                    correspondentTable = $('#table-service-price')
                        .DataTable({
                            destroy: true,
                            paging: false,
                            order: [[8, 'asc'], [9, 'desc'], [10, 'asc'], [0, 'asc']],
                            dom: 'frti',
                            language: {"url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"},
                            columnDefs: [
                                {'targets': [11], 'visible': false, 'searchable': false, 'orderable': false  },
                                {
                                    'targets': [0],
                                    'createdCell':  function (td, cellData, rowData, row, col) {
                                       $(td).attr('class', 'office_correspondent');
                                    }
                                }],
                            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                if(aData[1] === '-' || aData[1] === '—'){
                                    $("td:eq(1)", nRow).text(typeTask);
                                }
                                return nRow;
                            },
                        });
                }
                servicePriceTable.prices.forEach(function(price) {
                    let office_correspondent_name = getOfficeCorrespondentLink(price.office_correspondent);
                    let type_task = price.type_task.name;
                    let office_networ_name = price.office_network.name;
                    let state = price.state;
                    let court_district_name = price.court_district.name;
                    let court_district_complement_name = price.court_district_complement.name;
                    let city = price.city;
                    let client_name = price.client;
                    let value = price.value;
                    let office_rating = price.office_rating;
                    let office_return_rating = price.office_return_rating;
                    let servicePriceTableId = price.id;
                    let priceCategory = price.price_category;
                    let row = correspondentTable.row.add(
                        [
                            office_correspondent_name,
                            type_task,
                            office_networ_name,
                            state,
                            court_district_name,
                            court_district_complement_name,
                            city,
                            client_name,
                            value,
                            office_rating,
                            office_return_rating,
                            priceCategory
                        ]
                    ).node();
                    row.id = servicePriceTableId;
                    correspondentTable.draw(false);
                });

                $('.office_correspondent').click(function (e) {
                    e.stopPropagation();
                });
                $('#table-service-price tbody tr').on('click', function() {
                    $(this).addClass("ezl-bg-open");
                    $(this).siblings().removeClass("ezl-bg-open");
                    let amount = correspondentTable.row(this).data()[8];
                    let priceCategory = correspondentTable.row(this).data()[11];
                    let elValue = $('#value');
                    elValue.val(amount.replace(".", ","));
                    if (priceCategory === 'NETWORK'){
                        elValue.attr("disabled", "disabled");
                    } else {
                        elValue.removeAttr("disabled");
                        elValue.focus();
                    }

                    chosenPrice = {
                        taskId: taskId,
                        servicePriceTableId: $(this).attr('id'),
                        correspondenteName: correspondentTable.row(this).data()[0], // Nome
                        correspondenteValue: amount,
                        note: $('#note').val()
                    };
                })
            });

            $('#value').on('change', function() {
                chosenPrice.correspondenteValue = $(this).val().replace(".", "").replace(',', '.')
            });

            $('#modal-service-price-table').on('hide.bs.modal', function(e) {
                $("#type-task-text").html('');
                if ($('#value').val()) {
                    var taskId = $(this).attr('task-id');
                    chosenPrice.note =  $('#note').val();
                    servicePrices[taskId]['chosenPrice'] = chosenPrice;
                    correspondentTable.clear().draw(false);
                    correspondentTable.search('').draw(false);
                    setChosenPrice(chosenPrice);
                }
            });

            $('#modal-service-price-table #btn-ok').on('click', function(e) {
                $('#modal-service-price-table').modal('hide');
            });

        })
    </script>

{% endblock %}