<script>            
    var tmplRowUpload = '<tr class="zoomInDown animated">\n' +
                        '    <td style="width: 50px;">\n' +
                        '       <div class="circle circle-sm bg-info di"> <i class="fa fa-user"></i></div>\n' +
                        '    </td>\n' +
                        '    <td>\n' +
                        '       <span class="font-bold">${user}</span><br>\n' +
                        '       <small class="text-muted">${data}</small>\n' +
                        '    </td>\n' +
                        '    <td class="text-left" style="max-width: 65%;">\n' +
                        '       <h4><i class="fa fa-file-o"></i> ${exhibition_name}</h4>\n' +
                        '    </td>\n' +
                        '    <td class="text-right">\n' +
                        '       <button onclick="window.open(\'${base_external_url}/media/${url}\', \'_new\')" data-toggle="tooltip" title="Baixar arquivo"  type="button" class="btn btn-info btn-outline btn-circle btn-sm m-r-5"><i class="icon-cloud-download"></i></button>\n' +
                        '       <button onclick="deleteFile(${task_id}, ${pk}, \'${filename}\')" data-toggle="modal" type="button" class="btn btn-danger btn-outline btn-circle btn-sm m-r-5"\n' +
                        '               data-type="deleteFile" data-pk="${pk}" data-filename="${filename}">\n' +
                        '           <i class="icon-trash"></i>\n' +
                        '       </button>\n'+
                        '    </td>\n' +
                        '</tr>';

    var get_ecms = function(url, task_key, task_value){
        var data = {}
        data[task_key] = task_value
        $.ajax({
            url: url,
            data: data,
            dataType: 'json',
            success: function (data) {
                $('#containnerUploads').html('');
                $('#totalAttachments').html('(' + data.total_ecms + ')')
                if (data.total_ecms) {
                    $('#no-providence').addClass('hide')                    
                    $('.js-batch-download-files').show()
                } else {
                    $('#no-providence').removeClass('show')
                    $('.js-batch-download-files').hide()
                };
                try {
                    $.each(data.ecms, function( index, value ) {
                        $.tmpl(tmplRowUpload, value).appendTo('#containnerUploads');
                    })   
                } catch (error) {
                    setTimeout(() => {
                        console.log('tentando novamente')
                        $.each(data.ecms, function( index, value ) {
                            $.tmpl(tmplRowUpload, value).appendTo('#containnerUploads');
                        })                        
                    }, 1000)
                }
            }
        });
    };

    // get_internal_ecms acessa os ecms atraves de usuario interno na base 
    // logado no sistema.     
    function get_internal_ecms(task_id) {            
        url = "/providencias/ajax_get_ecms/";
        task_key="task_id"
        get_ecms(url, task_key, task_id)
    }
    // get_external_ecms acessa os ecms sem fazer login na base de dados
    // e utiliza o uuid da task para isso.     
    var get_external_ecms = function(task_hash) {
        url = "/providencias/ajax_get_external_ecms/";
        task_key="task_hash"
        get_ecms(url, task_key, task_hash)
    };

    var manager_ecms = function(data) {        
        if(location.href.indexOf('external-task') != -1){
            get_external_ecms(data.result.task_hash)
        } else {
            get_internal_ecms(data.result.task_id)
        }
    };

    var getUrlDelete = function(pk) {
        if (location.href.indexOf('external-task') != -1){
            let hash = location.pathname.split('/')[3];
            return `/providencias/ecm/${hash}/${pk}/excluir`;          
        } else {
            return `/providencias/ecm/${pk}/excluir`;
        }
    };

    function deleteFile(task_id, pk, file) {
        swal({
            title: file,
            text: "Deseja excluir o arquivo?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Sim, excluir o arquivo.",
            cancelButtonText: "Cancelar",            
        }).then(function(result){
            if (result.value){
                $('#processing').modal('show');
                $.ajax({
                    url: getUrlDelete(pk),
                    type: 'POST',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    dataType: 'json',

                    success: function (data) {                    
                        if (data.is_deleted) {                        
                            if (location.href.indexOf('external-task') != -1) {
                                let hash = location.pathname.split('/')[3];
                                get_external_ecms(hash);
                            } else {
                                get_internal_ecms(task_id);
                            }                                                                     
                        }
                        else {
                            $('#deleting').modal('hide');
                            swal("Erro", data.message, "error")
                        }
                        console.log('data.num_ged', data.num_ged);
                        if (!data.num_ged) {
                            $('#deleting').modal('hide');
                            $('#no-providence').removeClass('hide')
                            $('.js-batch-download-files').show()
                        }                    
                        $('#processing').modal('hide');
                    }
                })                
            }
        });
    }        
</script>
