<ul class="nav" id="side-menu">
    <li id="id_dashboard"> <!-- DASHBOARD -->
        <a href="{% url 'dashboard' %}" class="waves-effect">
            <i class="mdi mdi-av-timer fa-fw"></i>
            <span class="hide-menu">Dashboard</span>
        </a>
    </li>
    <li id="id_task_seach"> <!-- DASHBOARD -->
        <a href="{% url 'task_search' %}" class="waves-effect">
            <i class="mdi mdi-magnify fa-fw"></i>
            <span class="hide-menu">Pesquisar</span>
        </a>
    </li>
    {% if 'can_access_general_data' in office_session_perms %}
    <li class="q-menu-group">Trabalho</li>
    <li id="id_cadastros"> <!-- CADASTROS -->
        <a href="javascript:void(0)" class="waves-effect">
            <i class="fa fa-pencil-square-o fa-fw" data-icon="v"></i>
            <span class="hide-menu">Cadastros<span class="fa arrow"></span></span>
        </a>
        <ul class="nav nav-second-level">
            <li> <!-- CENTROS DE CUSTOS -->
                <a href="{% url 'costcenter_list' %}" target="_self">
                    <i class="fa fa-percent fa-fw"></i>
                    <span class="hide-menu">Centros de Custos</span>
                </a>
            </li>
            <li> <!-- COMPLEMENTO DE COMARCA -->
                <a href="{% url 'complement_list' %}" target="_self">
                    <i class="fa fa-map-marker fa-fw"></i>
                    <span class="hide-menu">Complemento da comarca</span>
                </a>
            </li>
            <li> <!-- INSTANCIAS  -->
                <a href="{% url 'instance_list' %}" target="_self">
                    <i class="fa fa-gavel fa-fw"></i>
                    <span class="hide-menu">Instâncias</span>
                </a>
            </li>
            <li> <!-- ORGAOS  -->
                <a href="{% url 'organ_list' %}" target="_self">
                    <i class="fa fa-bank fa-fw"></i>
                    <span class="hide-menu">Órgãos</span>
                </a>
            </li>
            <li> <!-- PASTAS  -->
                <a href="{% url 'folder_list' %}" target="_self">
                    <i class="fa fa-folder-open-o fa-fw"></i>
                    <span class="hide-menu">Pastas</span>
                </a>
            </li>
            <li> <!-- PESSOAS -->
                <a href="{% url 'person_list' %}" target="_self">
                    <i class="fa fa-users fa-fw"></i>
                    <span class="hide-menu">Pessoas</span>
                </a>
            </li>
            {% if 'group_admin' in office_session_perms or 'can_see_tasks_from_team_members' in office_session_perms or request.user.is_superuser or request.user.is_staff %}
            <li> <!-- TABELA DE PREÇOS -->
                <a href="{% url 'servicepricetable_list' %}" target="_self">
                    <i class="fa fa-money fa-fw"></i>
                    <span class="hide-menu">Tabela de preços</span>
                </a>
            </li>
            {% endif %}
            <li> <!-- TIPOS DE MOVIMENTAÇÃO -->
                <a href="{% url 'type_movement_list' %}" target="_self">
                    <i class="fa fa-exchange fa-fw"></i>
                    <span class="hide-menu">Tipos de Movimentação</span>
                </a>
            </li>
            <li> <!-- VARAS -->
                <a href="{% url 'courtdivision_list' %}" target="_self">
                    <i class="fa fa-sitemap fa-fw"></i>
                    <span class="hide-menu">Varas</span>
                </a>
            </li>

        </ul>
    </li>
    {% endif %}
    {% if 'view_reports' in office_session_perms %}
    <li id="id_relatorios">
        <a href="javascript:void(0)" class="waves-effect">
            <i class="mdi mdi-chart-bar fa-fw"></i>
            <span class="hide-menu">Relatórios<span class="fa arrow"></span></span>
        </a>
        <ul class="nav nav-second-level">
            {% if 'view_checkin_report' in office_session_perms %}
            <li>
                <a href="{% url 'task_checkin_report' %}" target="_self">
                    <i class="mdi mdi-map-marker"></i>
                    <span class="hide-menu">Gestão de check-in</span>
                </a>
            </li>
            {% endif %}
            {% if 'view_financial_report' in office_session_perms %}
            <li>
                <a href="{% url 'task_report_to_pay' %}" target="_self">
                    <i class="fa fa-dollar fa-fw"></i>
                    <span class="hide-menu">OS's a pagar</span>
                </a>
            </li>
            <li>
                <a href="{% url 'task_report_to_receive' %}" target="_self">
                    <i class="fa fa-dollar fa-fw"></i>
                    <span class="hide-menu">OS's a receber</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    {% if 'can_access_general_data' in office_session_perms %}
    <li class="q-menu-group">Escritório</li>
    <li id="id_administracao"> <!-- ADMINISTRAÇÃO -->
        <a href="javascript:void(0)" class="waves-effect">
            <i class="fa fa-folder-o fa-fw" data-icon="v"></i>
            <span class="hide-menu">Administração<span class="fa arrow"></span></span>
        </a>
        <ul class="nav nav-second-level">
            {% include 'task/includes/menus/menu-batch-change-tasks.html' %}
            {% if 'can_access_settings' in office_session_perms or request.user.is_superuser %}
                <li>
                    <a href="{% url 'template_answers_list' %}" target="_self">
                        <i class="fa fa-cogs fa-fw"></i>
                        <span class="hide-menu">Configurações</span>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'team_list' %}" target="_self">
                    <i class="fa fa-group fa-fw"></i>
                    <span class="hide-menu">Equipes</span>
                </a>
            </li>
            {% if request.user.is_superuser%}<li> <!-- ESCRIITORIOS -->
                <a href="{% url 'office_list' %}" target="_self">
                    <i class="fa fa-building-o fa-fw"></i>
                    <span class="hide-menu">Escritórios</span>
                </a>
            </li>
            {%endif%}
            {% if request.user.is_superuser %}
            <li><!-- IMPORTAÇÃO OS -->
                <a href="{% url 'import_city_list' %}" target="_self">
                    <i class="fa fa-map-marker fa-fw"></i>
                    <span class="hide-menu">Importação de Cidade</span>
                </a>
            </li>
            {% endif %}
            <li><!-- IMPORTAÇÃO OS -->
                <a href="{% url 'import_task_list' %}" target="_self">
                    <i class="fa fa-calendar fa-fw"></i>
                    <span class="hide-menu">Importação de OS</span>
                </a>
            </li>
            {% if 'group_admin' in office_session_perms or 'can_see_tasks_from_team_members' in office_session_perms or request.user.is_superuser or request.user.is_staff %}
            <li><!-- IMPORTAÇÃO TABELA DE PREÇO -->
                <a href="{% url 'import_service_price_table' %}" target="_self">
                    <i class="fa fa-money fa-fw"></i>
                    <span class="hide-menu">Importação de Tabela de Preços</span>
                </a>
            </li>
            {% endif %}
            {% if 'group_admin' in office_session_perms or request.user.is_superuser %}
                <li> <!-- QUESTIONARIOS -->
                    <a href="{% url 'survey_list' %}" target="_self">
                        <i class="fa fa-check-square-o fa-fw"></i>
                        <span class="hide-menu">Questionários</span>
                    </a>
                </li>
            {% endif %}
            <li> <!-- REGRAS DE ANEXOS -->
                <a href="{% url 'ecm:defaultattachmentrule_list' %}" target="_self">
                    <i class="fa fa-sliders fa-fw"></i>
                    <span class="hide-menu">Regras de Anexo</span>
                </a>
            </li>
            {% if 'group_admin' in office_session_perms or request.user.is_superuser %}
            <li><!-- TIPOS DE PRECO -->
                <a href="{% url 'policyprice_list' %}" target="_self">
                    <i class="fa fa-usd fa-fw"></i>
                    <span class="hide-menu">Tipos de preço</span>
                </a>
            </li>            
            <li><!-- TIPOS DE TASK -->
                <a href="{% url 'typetask_list' %}" target="_self">
                    <i class="fa fa-code-fork fa-fw"></i>
                    <span class="hide-menu">Tipos de Serviço</span>
                </a>
            </li>
            <li> <!-- USUARIOS -->
                <a href="{% url 'user_list' %}" target="_self">
                    <i class="fa fa-user fa-fw"></i>
                    <span class="hide-menu">Usuários</span>
                </a>
            </li>            
            {% endif %}
        </ul>
    </li>
    {% endif %}
    <li class="devider"></li>
    <li> <!-- AJUDA -->
        <a href="javascript:void(0)" class="waves-effect">
            <i class="mdi mdi-help-circle-outline fa-fw" data-icon="v"></i>
            <span class="hide-menu">Ajuda<span class="fa arrow"></span></span>
        </a>
        <ul class="nav nav-second-level">
            <li> <!-- MANUAL DO USUARIO -->
                <a href="https://ezlawyer.atlassian.net/wiki/spaces/PUB/pages/101597/Manual+do+sistema" class="waves-effect" target="_blank">
                    <i class="mdi mdi-file-pdf fa-fw"></i>
                    <span class="hide-menu">Manual do Usuário</span>
                </a>
            </li>
            <li> <!-- SUPORTE -->
                <a href="http://suporte.silexsistemas.com.br/otrs/customer.pl" class="waves-effect" target="_blank">
                    <i class="fa fa-life-ring fa-fw"></i>
                    <span class="hide-menu">Suporte</span>
                </a>
            </li>
            <li> <!-- Tour -->
                <a href="{% url 'dashboard' %}" class="waves-effect" data-toggle="modal" id="id_btn_tour">
                    <i class="mdi mdi-map"></i>
                    <span class="hide-menu">Tour</span>
                    <script>
                        $('#id_btn_tour').on('click', function(e) {
                            var tour_enabled_for_user_key = '{{ request.user }}_tour_enabled_for_user';
                            localStorage[tour_enabled_for_user_key] = true;
                        });
                    </script>
                </a>
            </li>
            <li> <!-- SOBRE -->
                <a href="#about-modal" class="waves-effect" data-toggle="modal">
                    <i class="mdi mdi-information-outline fa-fw"></i>
                    <span class="hide-menu">Sobre</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
