{% load static %}
<nav class="navbar navbar-default navbar-static-top m-b-0" id="id_navbar">
    <div id="message-browser-version" class="col-xs-12 text-dark bg-warning hide">TESTE</div>
    <div class="navbar-header">
        <div class="top-left-part">
            <!-- Logo -->
            <a class="logo" href="{% url 'dashboard' %}">
                {% include 'skeleton/includes/brand.html' %}
            </a>
        </div>
        <!-- /Logo -->
        <!-- Search input and Toggle icon -->
        <ul class="nav navbar-top-links navbar-left">
            <li>
                <a href="javascript:void(0)" class="open-close waves-effect waves-light">
                <i class="ti-menu"></i>
                </a>
            </li>
            {% if office_session_id %}
                <li class="dropdown" id="id_notificacoes">
                    <a class="dropdown-toggle waves-effect waves-light ezl-tooltip" data-toggle="dropdown" href="#" title="Notifica&ccedil;&otilde;es">
                        <i class="mdi mdi-bell-outline"></i>
                        <div class="notify hide" id="request-notify">
                            <span class="heartbit"></span>
                            <span class="point"></span>
                        </div>
                    </a>
                    <ul id="request-list" class="dropdown-menu animated flipInX">
                        <li>
                            <strong class="drop-title" id="">Nenhuma solicitação</strong>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <li class="dropdown" id="id_chat">
                    <a class="dropdown-toggle waves-effect waves-light ezl-tooltip" data-toggle="dropdown" href="#" title="Chat">
                        <i class="mdi mdi-comment-text-outline"></i>
                        <div class="notify hide" id="chat-notify">
                            <span class="heartbit"></span>
                            <span class="point"></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu animated flipInX">
                        <li>
                            <a class="text-center" href="{% url 'chat_list' %}">
                                <strong class="drop-title" id="drop-title">0 mensagens</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <li>
                    <a href="http://suporte.silexsistemas.com.br/otrs/customer.pl" class="waves-effect waves-light ezl-tooltip" target="_blank" title="Suporte">
                        <i class="fa fa-life-ring"></i>
                    </a>
                </li>
                {% if 'can_access_general_data' in office_session_perms %}
                    <li class="open" id="id_create_task">
                        <a href="{% url 'task_add' %}" class="waves-effect waves-lightact create-os-active">
                            <i class="mdi mdi-plus-circle-outline"></i><span class="hidden-sm hidden-xs"> Criar OS</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
                <a href="#" class="q-theme-toggle" title="Tema escuro" aria-label="Alternar tema">
                    <i class="mdi mdi-weather-night q-moon"></i><i class="mdi mdi-white-balance-sunny q-sun"></i>
                </a>
            </li>
            {% if office_session_id %}
            <li class="dropdown" id="id_office_session_id">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown-office">
                    <i class="fa fa-building-o">&nbsp;</i>
                    <span id="current_office" class="hidden-sm hidden-xs"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu animated flipInX" aria-labelledby="dropdown-office">
                    <li>
                        <a class="dropdown-item" href="{% url 'office_profile' %}">
                            <i class="fa fa-building-o">&nbsp;</i>
                            <span>Meu perfil</span>
                        </a>
                    </li>
                    <li>
                        <a href="#office-select-modal" class="waves-effect" data-toggle="modal">
                            <i class="fa fa-exchange">&nbsp;</i>
                            <span class="hidden-sm hidden-xs"> Trocar de escritório</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <li class="dropdown" id="id_user_menu">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                    <span class="q-avatar">{{ request.user.first_name|default:request.user.username|slice:":1"|upper }}{{ request.user.last_name|slice:":1"|upper }}</span>
                    <b class="hidden-xs">{{ request.user.first_name|default:request.user.username }}</b>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-user animated flipInX">
                    <li><!-- Gerenciar filtros -->
                        <a href="{% url 'filter_list' %}">
                            <i class="mdi mdi-filter"></i> Gerenciar Filtros
                        </a>
                    </li>
                    <li> <!-- Meu perfil -->
                        <a href="{% url 'start_user' %}">
                            <i class="mdi mdi-account"></i> Meu perfil
                        </a>
                    </li>
                    <li> <!-- LOGOUT -->
                        <a href="javascript:logout()">
                            <i class="mdi mdi-logout"></i> Sair
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>