{% load static %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close">
                <i class="ti-close ti-menu"></i></span>
                <span class="hide-menu">Menu</span>
            </h3>
        </div>
        <div class="user-profile">
        </div>
        <!-- Menu -->
        {% if user.is_authenticated %}
        {% include 'skeleton/includes/menu.html' %}
        {% endif %}
        <!-- End Menu -->
    </div>
</div>
