    <div class="col-lg-12">
        <fieldset>
            <div class="form-row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title"><i class="panel-title mdi mdi-paperclip"></i> Anexos </h1>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            {{ form.documents }}
                            {% if form.documents.errors %}<span class="help-block text-danger">{{ form.documents.errors }}</span>{% endif %}
                            <p class="help-block">Selecione um ou mais arquivos. Eles serão enviados ao salvar o formulário.</p>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
